nav ul{
  margin-left: 12%;
}
nav ul i{
  height: 64px !important;
  line-height: 64px !important;
}

#duo img{
  height: 100px;
  width: auto;
  margin: 15px 10px 20px 0px;
}

#current{
  font-weight: bold;
  text-decoration: underline;
}

.parallax-container{
  height:25vh;
}


.margin0{
  margin-top: 0px!important;
  margin-bottom: 0px!important;
}

nav ul img{
  height: 60px;
  margin: 0;
}

footer p{
  font-size: 2vw;
  position: sticky;
  padding-top: 1%;
  padding-bottom: 1%;S
}

video{
  width: 100%;
}
